In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
tomato = pd.read_csv("C:/Users/Darui Yen/OneDrive//桌面/crawler_pimpinellifolium_list.csv")
tomato

,accession,species,#LA,#PI,AVRDC_code,source,origin,latitude,longitude
0,2013A01594,S. pimpinellifolium,LA2181,NaN,VI037972,tainan district agricultural and extension sta...,Peru,NaN,NaN
1,2017A01921,S. pimpinellifolium,NaN,PI 634844,NaN,tainan district agricultural and extension sta...,United States,NaN,NaN
2,2017A01922,S. pimpinellifolium,LA2348,PI 79532,NaN,tainan district agricultural and extension sta...,Peru,NaN,NaN
3,2017A01924,S. pimpinellifolium,NaN,PI124039,NaN,tainan district agricultural and extension sta...,Peru,NaN,NaN
4,2017A01925,S. pimpinellifolium,LA2934,PI126430,NaN,tainan district agricultural and extension sta...,Peru,-11.854444,-77.037500
...,...,...,...,...,...,...,...,...,...
230,LA2647,S. pimpinellifolium,LA2647,NaN,NaN,213 lab,Peru,-5.175000,-79.983333
231,LA2653,S. pimpinellifolium,LA2653,NaN,NaN,213 lab,Peru,-4.750000,-80.583333
232,LA2655,S. pimpinellifolium,LA2655,NaN,NaN,213 lab,Peru,-4.908333,-80.825000
233,LA2656,S. pimpinellifolium,LA2656,NaN,NaN,213 lab,Peru,-3.800000,-80.700000
234,LA3638,S. pimpinellifolium,LA3638,NaN,NaN,213 lab,Peru,-12.566667,-76.316667

In [4]:
#採集地的probability table
def counting(series) :
    category = {}
    for index in range(tomato.shape[0]) :
        if series[index] not in category :
            category[series[index]] = 1
        else :
            category[series[index]] += 1
    table = pd.DataFrame(data = category.items())
    return table

#經緯度的品系數量
def location_count(series) :
    total = sum(series > 0) + sum(series < 0)
    return total

In [5]:
counting(tomato["origin"])

               0    1
0           Peru  191
1  United States    3
2      Venezuela    1
3         Mexico   17
4        Ecuador   19
5          India    1
6    El Salvador    1
7         Canada    1
8       Honduras    1

In [6]:
location_count(tomato["latitude"])

154